<div class="container">
  <div class="row"></div>
  <div class="col-md-6">
    <div class="card">
      <div class="text-center">
        <h1>Cart Register</h1>
        <h5>Signup here</h5>
        <form [formGroup]="signupForm" (ngSubmit)="signUp()">
          <div class="mb-3">
            <label  class="form-label">Name</label>
            <input formControlName="name" placeholder="Enter name" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label  class="form-label">Mobile no </label>
            <input formControlName="mobile" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label  class="form-label">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label  class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary">SignUp</button>
        </form>
        <a routerLink="/login">Already a user?Click to login </a>
      </div>
    </div>
  </div>
</div>